---
import Layout from "@/layout/Layout.astro";
---

<Layout>
  <div class="w-fit mx-auto my-40 text-center space-y-3">
    <h1 class="font-bold text-5xl sm:text-8xl">Oops</h1>
    <h2 class="font-semibold text-2xl opacity-80">Content not found</h2>

    <a href="/" class="button button-base button-main block w-fit mx-auto">Home</a>
  </div>
</Layout>