---
import Layout from "../layout/Layout.astro";
import { AboutMe, Certificates, Contact, CopyButton, Skills } from "@components/About";
---

<Layout>
  <section class="flex flex-col gap-10 mb-44 max-w-prose mx-auto min-w-[70%]">
    <AboutMe />

    <Contact>
      <CopyButton client:only="react" />
    </Contact>

    <Certificates client:load />

    <Skills />
  </section>
</Layout>
