---
import Layout from "@/layout/Layout.astro";
---

<Layout>
  <section
    class="flex flex-col justify-between h-[60dvh] md:h-[85dvh] relative"
  >
    <h1
      class="my-auto flex items-start flex-col hero-msg leading-none -tracking-wide font-bold"
    >
      <span class="flex items-center flex-wrap gap-1">
        <span style="animation-delay: 0.1s;" class="fadeIn">
          Hi{" "}
        </span>
        <span
          style="animation-delay: 0.15s;"
          class="block -mt-4 md:-mt-8 mx-2 fadeIn"
        >
          <img
            width="0.8em"
            height="0.8em"
            class="wave size-[.8em]"
            src="/img/hand.webp"
            alt="!!"
          />
        </span>
      </span>
      <span class="flex flex-wrap gap-1">
        <span style="animation-delay: 0.2s;" class="fadeIn"> I'm</span>
        <span style="animation-delay: 0.25s;" class="fadeIn text-main mx-2">
          Alex
        </span>
      </span>
      <span class="flex md:gap-1 max-md:flex-col xl:flex-wrap">
        <span style="animation-delay: 0.3s;" class="fadeIn">Web</span>
        <span style="animation-delay: 0.35s;" class="fadeIn md:mx-2"
          >Developer</span
        >
      </span>
    </h1>

    <span class="gradient"></span>
  </section>
</Layout>
