/* Header */

header nav {
    display: flex;
    justify-content: space-between;
    height: 6rem;
    font-weight: 600;
    align-items: center;
    width: 100%;
}

header svg{
    cursor: pointer;
}

header nav #menu{
    width: 40px;
    filter: invert(var(--svg_invert_dark));
}

header ul{
    list-style: none;
}

header li svg{
    display: flex;
    margin: 0 auto;
}

header li a{
    display: contents;
}

.logo {
    font-weight: bold;
    cursor: pointer;
    font-size: 2.55rem;
}

[data-change-lang]{
    display: flex;
    cursor: pointer;
    width: 35px;
    user-select: none;
}

[data-change-lang] p:nth-child(2){
    margin-left: .15rem;
    margin-top: 1rem;
    font-size: var(--header_font);
}


/* Footer */

footer{
    display: flex;
    align-items: baseline;
    flex-direction: column;
    text-align: center;
    gap: .5rem;
    width: 100%;
    padding-bottom: 3rem;
    position: absolute;
    bottom: 0;
    inset-inline: 0;
}

footer #logo{
    width: 45px;
    height: 45px;
}

footer h6{
    letter-spacing: .2rem;
}

footer h6:nth-child(2){
    margin-top: auto;
}

@keyframes openMenu {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes leaveMenu {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

/*****************************************/
/* Media Queries */
/*****************************************/

/* Mobile Short - iPhone 4 3.5' */
@media (max-width: 767px) {

    header .nav{
        display: flex;
        flex-direction: column;
        background-color: var(--bg_page);
        justify-content: center;
        background-image: var(--bg_page_effect);
        z-index: 100;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 0%;
        opacity: 0;
        visibility: hidden;
        transition: opacity .35s, visibility .35s, height .35s;
        will-change: opacity;
    }

    header .navOpen{
        opacity: .98;
        visibility: visible;
        height: 100%;
    }

    [data-theme=light] .navOpen{
        border: .5rem double #000;
    }

    [data-theme=dark] .navOpen{
        border: .5rem solid #fff;
    }

    header .navOpen span{
        top: 1rem;
        right: 1.8rem;
        position: absolute;
        font-size: 2rem;
        cursor: pointer;
    }

    header .navOpen li{
        display: flex;
        align-items: center;
        margin-block: .1rem;
    }

    header #navOpt{
        width: 3rem;
        text-align: center;
    }

    header #navOpt svg{
        margin-bottom: -.4rem;
    }

    header li p{
        font-size: 1.2rem;
    }

    .noScroll {
        overflow: hidden;
    }

    .noScroll body{
        height: 100%;
    }

    .optMenu{
        display: grid;
        place-content: center;
    }

    footer{
        place-items: center;
    }
}

/* Tablet 7' or Higher */
@media (min-width: 768px) {

    .optMenu {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    footer{
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 2rem;
    }
}

/* Notebook/Desktop */
@media (min-width: 1024px) {}

/* Notebook/Desktop Long */
@media (min-width: 1440px) {}

/* 4K Display */
@media (min-width: 2560px) {

    header svg{
        width: 40px;
        height: 40px;
    }
    
    header [data-change-lang]{
        width: 55px;
    }

    footer h6{
        font-size: 1rem;
    }

    footer #logo{
        width: 55px;
        height: 55px;
    }
}

/*****************************************/